*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --offcanvas-width:270px;
    --topNavbarHeight:56px;
}

.sidebar-nav{
    width: var(--offcanvas-width);
    position:absolute;
}

@media screen and (min-width: 992px)  {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: initial;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}